body {

  background-image: url('bgimage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
}
button { 
	margin-left: 3px;
	 padding: 10;
	 font-weight: strong;
	}
	h5{
		font-weight: 4%;
	}
